.height-100 {
  height: 100%;
}

.width-100 {
  width: 100%;
}

/* POSITION */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.sticky {
  position: sticky;
}

.fixed {
  position: fixed;
}

/* DISPLAY */
.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

/* MISC */
.cursor-pointer {
  cursor: pointer;
}

.radius-1 {
  border-radius: 8px;
}

.radius-2 {
  border-radius: 16px;
}

.border-black {
  border: var(--black) 2px solid;
}
